In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

df = pd.read_csv("Data/Export/Export.csv")
df.head()

c:\Users\mtzwa\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\mtzwa\anaconda3\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
c:\Users\mtzwa\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

,ID,math9,math9_score,math10,math10_score,eng9,eng9_score,eng10,eng10_score,hist9,...,ELL_Status,Double_Math,FRPL_Status,Grade_Level,Home_Language,Date_of_Birth,Race_Ethnicity,Transfer_Student,Special_Education_Status,schoolName
0,2241046.0,Algebra 1,80.0,Geometry,71.329998,Eng 1,85.000000,English 2,89.200001,World Civ 2,...,False,NaN,Reduced,11.0,English,2006-08-03,Hispanic,False,False,Central Campus
1,2241076.0,Alg 1,50.0,NaN,NaN,Eng 1,58.333333,Eng 1,75.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4230947.0,Alg 1,70.0,Geometry Bi,70.800003,Eng 1,70.000000,NaN,NaN,NaN,...,True,NaN,Free,11.0,English,2006-11-27,Hispanic,False,False,Central Campus
3,4241041.0,ALG 1,65.0,GEOM,75.000000,ENG 1,57.500000,ENG 2,75.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4241058.0,ALG 1,75.0,GEOM,85.000000,ENG 1,80.000000,ENG 2,85.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN