In [80]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

df = pd.read_csv("Data\Export\central_dem_grades_clean.csv")
df.head()

,ID,math9,math9_score,math10,math10_score,eng9,eng9_score,eng10,eng10_score,hist9,...,ELL_Status,Double_Math,FRPL_Status,Grade_Level,Home_Language,Date_of_Birth,Race_Ethnicity,Transfer_Student,Special_Education_Status,schoolName
0,2241070,5,75.0,0,NaN,1,90.0,5,65.000000,0,...,False,0,3,11,0,2005-08-31,2,False,False,0
1,2241070,5,75.0,0,NaN,1,90.0,1,95.239998,0,...,False,0,3,11,0,2005-08-31,2,False,False,0
2,4230947,5,70.0,4,70.800003,5,70.0,0,NaN,0,...,True,0,3,11,0,2006-11-27,3,False,False,0
3,2241042,5,95.0,0,NaN,5,65.0,1,83.730000,5,...,False,0,1,11,0,2005-10-01,3,False,False,0
4,2241045,5,90.0,1,81.439999,5,85.0,2,94.489998,2,...,False,0,2,11,0,2005-10-13,3,False,False,0

In [88]:
df2 = df[['ID', 'math9_score', 'math10_score',
       'eng9_score', 'eng10_score', 'hist9_score',
       'bio_score','phys10_score', 'chem11',
       'Gender', 'Counselor', 'ELL_Status']]

In [89]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

category_features = ['Gender', 'Counselor', 'ELL_Status']

ohn_data = pd.DataFrame(ohe.fit_transform(df2[category_features]).toarray())

new_df = df2.join(ohn_data)
new_df = new_df.drop(category_features, axis=1)

new_df = new_df.dropna()
new_df = new_df.set_index('ID')

In [90]:
# Import necessary modules
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

# Create feature and target arrays
X = new_df.drop('chem11', axis=1)
X = X.values
y = new_df['chem11']
y = y.values

In [91]:
# Split into training and test set
X_train, X_test, y_train, y_test = train_test_split(
             X, y, test_size = 0.2, random_state=903)
  
knn = KNeighborsClassifier(n_neighbors=3)
  
knn.fit(X_train, y_train)
  
# Predict on dataset which model has not seen before
print(knn.predict(X_test))

[0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 2 0 0 0 0 0 0 0 0 0 1 0 2 0 0 0 0 0 2
 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 1
 0 1 0 0 0 2 0 0 1 0 2 0 1 0 0 0 0 1 1 0 0 0 2 0 0 1 0 1 0 0 0 0 0 0 0 0 1
 0 1 0 0]