In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

df = pd.read_csv("Data\Export\central_dem_grades_clean.csv")
df.head()

,ID,math9,math9_score,math10,math10_score,eng9,eng9_score,eng10,eng10_score,hist9,...,ELL_Status,Double_Math,FRPL_Status,Grade_Level,Home_Language,Date_of_Birth,Race_Ethnicity,Transfer_Student,Special_Education_Status,schoolName
0,2241070,5,75.0,0,NaN,1,90.0,5,65.000000,0,...,False,0,3,11,0,2005-08-31,2,False,False,0
1,2241070,5,75.0,0,NaN,1,90.0,1,95.239998,0,...,False,0,3,11,0,2005-08-31,2,False,False,0
2,4230947,5,70.0,4,70.800003,5,70.0,0,NaN,0,...,True,0,3,11,0,2006-11-27,3,False,False,0
3,2241042,5,95.0,0,NaN,5,65.0,1,83.730000,5,...,False,0,1,11,0,2005-10-01,3,False,False,0
4,2241045,5,90.0,1,81.439999,5,85.0,2,94.489998,2,...,False,0,2,11,0,2005-10-13,3,False,False,0