In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

df = pd.read_csv("Data/Course enrollment.csv")
df.head()

       Course Name  Year  Students
0        Physics 1  2022      1336
1        Biology 1  2022      1283
2      Chemistry 1  2022       464
3    Physics 1 Hon  2022       303
4  Chemistry 1 Hon  2022       235